.active-event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.event-details-img {
  height: 30vh;
}

.active-details-heading {
  font-size: 25px;
  font-family: 'Roboto';
  color: #323f4b;
  text-align: center;
}

.active-details-para {
  font-size: 20px;
  font-family: 'Roboto';
  color: #64748b;
  text-align: center;
}

.btn-style {
  background-color: #0967d2;
  border: 0px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}
