.list-container {
  line-height: 10px;
  margin: 15px;
  margin-left: 0px;
}
.event-img {
  height: 200px;
}

.event-name {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
}

.event-location {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
}

.event-nr-btn-style {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
}

.event-act-btn-style {
  border: 3px solid #2dd4bf;
  cursor: pointer;
  padding: 0px;
  border-radius: 10px;
  background-color: transparent;
}
